<%- include('partials/header') %>
<link rel="stylesheet" href="/css/homeStyles.css">

<%- include('partials/sidePanelModal') %>

<div class="polls">
  <% polls.slice().reverse().forEach(function(poll) { %>
    <div id="poll-<%= poll._id %>"class="poll" data-poll-id="<%= poll._id %>" data-poll-url="/poll/<%= poll._id %>">
      <div class="top">
        <div class="poller">
          <p><a href="/<%=poll.hID.username%>"><%= poll.hID ? poll.hID.username : 'Unknown' %></a></p>
        </div>
        <div class="follow">
          <p>follow</p>
        </div>
      </div>
      <div class="options">
        <% poll.options.forEach(function(option) { %>
          <div class="option-wrapper">
            <div class="dot-space">
              <div class="vote-dot" id="optDot-<%= option._id %>">
                <div class="vote-dot-inside"></div>
              </div>
            </div>
            <div id="option-<%= option._id %>" class="option" data-poll-id="<%= poll._id %>" data-vote-option="<%= option.optionName %>">
              <div class="progress-bar"></div>
              <p class="vote-option">
                <%= option.optionValue %>
              </p>
              <p class="vote-count"></p>
            </div>
          </div>
        <% }); %>
      </div>
      <div class="interactions">
        <div class="comment-button">
          <button class="comment" data-poll-id="<%= poll._id %>">
            <svg fill="#000000" width="25px" height="25px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12,2A10,10,0,0,0,2,12a9.89,9.89,0,0,0,2.26,6.33l-2,2a1,1,0,0,0-.21,1.09A1,1,0,0,0,3,22h9A10,10,0,0,0,12,2Zm0,18H5.41l.93-.93a1,1,0,0,0,0-1.41A8,8,0,1,1,12,20Z" />
            </svg>
          </button>
        </div>
        <div class="save-button">
          <button class="save" data-poll-id="<%= poll._id %>">
            <svg width="25px" height="25px" viewBox="0 0 24 24" fill="<%= cUser && poll.savers.includes(cUser.id) ? "black" : "none" %>" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6C6 4.89543 6.89543 4 8 4H16C17.1046 4 18 4.89543 18 6V21L12 15L6 21V6Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
        <div class="share-button">
          <button class="share" data-poll-id="<%= poll._id %>">
            <svg width="25px" height="25px" viewBox="0 0 24 24" id="share" xmlns="http://www.w3.org/2000/svg">
              <rect id="Rectangle_3" data-name="Rectangle 3" width="24" height="24" fill="none" />
              <path id="Rectangle" d="M12,4V0l8,7-8,7V10S0,9.069,0,14.737C0,3.4,12,4,12,4Z" transform="translate(2 5)" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="1.5" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  <% }); %>
</div>


<meta name="current-user-id" content="<%= cUser ? cUser.id : '' %>">
<meta name="current-page-polls" content="<%= JSON.stringify(polls) %>">
<meta name="user-voted-polls" content="<%= JSON.stringify(userVotes) %>"><meta name="user-voted-polls" content="<%= JSON.stringify(userVotes) %>">
<script src="/js/main.js"></script>

<script>
  const p = document.querySelectorAll('.poll');

  p.forEach(poll => {
    poll.addEventListener('click', function(e) {
      // Only redirect if the clicked element is not a button, option, or link
      if (!e.target.closest('.comment-button') &&
        !e.target.closest('.save-button') &&
        !e.target.closest('.share-button') &&
        !e.target.closest('.option') && // Prevent option clicks from redirecting
        !e.target.closest('a')) { // Prevent link clicks from redirecting
        const pollUrl = poll.getAttribute('data-poll-url');
        window.location.href = pollUrl;
      }
    });
  });

  const options = document.querySelectorAll('.option');

  options.forEach(option => {
    option.addEventListener('click', function(e) {
      e.stopPropagation();
    });
  });

</script>

<%- include('partials/footer') %>
